<!--
  Generated template for the DetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form  #form="ngForm" (ngSubmit)="updateData()">
    <ion-item>
        <ion-label>produto</ion-label>
        <ion-input type="text" [readonly]="true" [(ngModel)]="delivery._produtos._name"  name="products" id="products"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>detalhes</ion-label>
        <ion-input type="text"  [(ngModel)]="delivery._detalhes"  name="name" id="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>status</ion-label>
        <ion-select  [(ngModel)]="delivery._status" name="description" id="description">
            <ion-option value="SEPARADO_PARA_ENTREGA">SEPARADO_PARA_ENTREGA</ion-option>
            <ion-option value="SAIU_PARA_ENTREGA">SAIU_PARA_ENTREGA</ion-option>
            <ion-option value="EM_TRAJETO">EM_TRAJETO</ion-option>
            <ion-option value="DESTINATARIO_AUSENTE">DESTINATARIO_AUSENTE</ion-option>
            <ion-option value="ENTREGUE">ENTREGUE</ion-option>
        </ion-select>
      </ion-item>
      
      <button ion-button type="submit" block>SALVAR</button>
      
    </form>
    <button ion-button (click) = "backDeliveryPage()" block>VOLTAR</button>
</ion-content>
