<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Logística</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-searchbar [(ngModel)]="searchDel" (ionInput)="searchList()"></ion-searchbar>  
    <ion-list *ngFor="let delivery of resultDeliverys" detail-push>
      <ion-item> 
          <ion-row>
              <ion-col col-2>
                  <a ion-item href="#" (click)="openDetalhes(delivery)">{{delivery._produtos._name }}</a>
              </ion-col>
              <ion-col col-2>
                  <a ion-item href="#" (click)="openDetalhes(delivery)">{{delivery._status}}</a>
              </ion-col>
          </ion-row>
        </ion-item>  
    </ion-list>
  
  
  </ion-content>
  